
<form (submit)="guardarDirrecion()" [formGroup]="form">
  <fieldset>
    <legend>Dirreicones</legend>
  <mat-form-field appearance="outline">
    <mat-label>Tipo:</mat-label>
    <input matInput placeholder="ej trabajo, casa, etc."
    formControlName="tipo" (blur)="onTouchedCb" />
     @if (formUtilidades.isvalidField(form,'tipo')) {
      <mat-error>{{formUtilidades.getFieldError(form,"tipo")}}</mat-error>
    }


  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ubicacion:</mat-label>
    <input matInput formControlName="ubicacion" (blur)="onTouchedCb"  />
     @if (formUtilidades.isvalidField(form,'ubicacion')) {
      <mat-error>{{formUtilidades.getFieldError(form,"ubicacion")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ciudad:</mat-label>
    <input matInput formControlName="ciudad" (blur)="onTouchedCb"  />
     @if (formUtilidades.isvalidField(form,'ciudad')) {
      <mat-error>{{formUtilidades.getFieldError(form,"ciudad")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Provincia:</mat-label>
    <input matInput formControlName="provincia" (blur)="onTouchedCb"  />
       @if (formUtilidades.isvalidField(form,'provincia')) {
      <mat-error>{{formUtilidades.getFieldError(form,"provincia")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Codigo Postal:</mat-label>
    <input matInput formControlName="codigopostal" (blur)="onTouchedCb" />
       @if (formUtilidades.isvalidField(form,'codigopostal')) {
      <mat-error>{{formUtilidades.getFieldError(form,"codigopostal")}}</mat-error>
    }

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Pais:</mat-label>
    <input matInput formControlName="pais" (blur)="onTouchedCb"  />
       @if (formUtilidades.isvalidField(form,'pais')) {
      <mat-error>{{formUtilidades.getFieldError(form,"pais")}}</mat-error>
    }

  </mat-form-field>
  </fieldset>




</form>
