<h2>Crear Telefono</h2>

<form (ngSubmit)="guardarCambios()">
   <mat-form-field appearance="outline">
    <mat-label>Tipo</mat-label>
    <input matInput [formControl] = "form.controls.tipo">
    @if (formUtilidades.isvalidField(form,'tipo')) {
      <mat-error>{{formUtilidades.getFieldError(form,"tipo")}}</mat-error>
    }
  </mat-form-field>
   <mat-form-field appearance="outline">
    <mat-label>Codigo Pais</mat-label>
    <input placeholder="Ex. +809" matInput [formControl] = "form.controls.codigopais">
    @if (formUtilidades.isvalidField(form,'codigopais')) {
      <mat-error>{{formUtilidades.getFieldError(form,"codigopais")}}</mat-error>
    }
  </mat-form-field>
     <mat-form-field appearance="outline">
    <mat-label>Numero</mat-label>
    <input type="number" matInput [formControl] = "form.controls.numero">
    @if (formUtilidades.isvalidField(form,'numero')) {
      <mat-error>{{formUtilidades.getFieldError(form,"numero")}}</mat-error>
    }
  </mat-form-field>
  <div class="contenedor-botones">
    <button mat-flat-button type="submit"
    [disabled]="form.invalid">
    guardar Cambios</button>
    <a mat-stroked-button routerLink="/">Cancelar</a>
  </div>





</form>






