<h2>Crear Persona</h2>
<form (ngSubmit)="guardarCambios()"[formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Nombre:</mat-label>
    <input matInput [formControl] = "form.controls.nombre"/>
    @if (formUtilidades.isvalidField(form,'nombre')) {
      <mat-error>{{formUtilidades.getFieldError(form,"nombre")}}</mat-error>
    }

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellido:</mat-label>
    <input matInput [formControl] = "form.controls.apellido" />
    @if (formUtilidades.isvalidField(form,'apellido')) {
      <mat-error>{{formUtilidades.getFieldError(form,"apellido")}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cedula:</mat-label>
    <input matInput [formControl] = "form.controls.cedula"/>
    @if (formUtilidades.isvalidField(form,'cedula')) {
      <mat-error>{{formUtilidades.getFieldError(form,"cedula")}}</mat-error>
    }
  </mat-form-field>
  <h2>Crear Correo</h2>
  <mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input matInput  formControlName="correo" [(ngModel)]="correos">
    @if (formUtilidades.isvalidField(form,'correo')) {
      <mat-error>{{formUtilidades.getFieldError(form,"correo")}}</mat-error>
    }

  </mat-form-field>
<!--
  <app-telefonos [telefonosAgregados]="telefonosAgregados"></app-telefonos> -->
  <!-- <app-dirreciones></app-dirreciones> -->
   <!-- <app-emails></app-emails> -->


  <h4>Seleccione Las Categorias</h4>
  <app-selector-multiple [Seleccionados]="categoriasSeleccionadas" [NoSeleccionados]="categoriasNoSeleccionadas"></app-selector-multiple>

  <div class="contenedor-botones">
    <button mat-flat-button type="submit"
    [disabled]="form.invalid">
    guardar Cambios</button>
    <a mat-stroked-button routerLink="/">Cancelar</a>

  </div>
</form>



