<h2>Ingrese los Datos de la Persona</h2>
<form (ngSubmit)="guardarCambios()"[formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Nombre:</mat-label>
    <input matInput [formControl] = "form.controls.nombre"/>
    @if (formUtilidades.isvalidField(form,'nombre')) {
      <mat-error>{{formUtilidades.getFieldError(form,"nombre")}}</mat-error>
    }

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellido:</mat-label>
    <input matInput [formControl] = "form.controls.apellido" />
    @if (formUtilidades.isvalidField(form,'apellido')) {
      <mat-error>{{formUtilidades.getFieldError(form,"apellido")}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cedula:</mat-label>
    <input matInput [formControl] = "form.controls.cedula"/>
    @if (formUtilidades.isvalidField(form,'cedula')) {
      <mat-error>{{formUtilidades.getFieldError(form,"cedula")}}</mat-error>
    }
  </mat-form-field>
  <app-emails formControlName="emails"></app-emails>
  <app-dirreciones formControlName="dirreciones"></app-dirreciones>
  <app-telefonos formControlName="telefonos"></app-telefonos>

<!--
  <app-telefonos [telefonosAgregados]="telefonosAgregados"></app-telefonos> -->
  <!-- <app-dirreciones></app-dirreciones> -->
   <!-- <app-emails></app-emails> -->


  <h4>Seleccione Las Categorias</h4>
  <app-selector-multiple [Seleccionados]="categoriasSeleccionadas" [NoSeleccionados]="categoriasNoSeleccionadas"></app-selector-multiple>

  <div class="contenedor-botones">
    <button mat-flat-button type="submit"
    [disabled]="form.invalid">
    guardar Cambios</button>
    <a mat-stroked-button routerLink="/">Cancelar</a>

  </div>
</form>
<h2>Form Valid: </h2>
<h2>Form Status: </h2>

<pre>{{ form.value| json }}</pre>
<strong>Status:</strong> {{ form.status }}


